/* CONTENIDO PRODUCTOS */


.bordes {
    padding-right: 5rem;
    padding-left: 5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.barraBuscar {
    display: flex;
    width: 100%;

    justify-content: center;
}



    .tit2 {
        text-align: center;
        margin: 50px 0PX;
        height: 75px;
        color: black;
        font-family: 'Spartan', sans-serif;
        font-weight: 800;
        font-size: 55px;
    }

.prodTamaño {
    width: 14rem;
}