/* NOSOTROS */

.paiContainer2 {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 1fr 3fr 3fr;
    height: 200vh;
    background-image: linear-gradient(-45deg, #353535, #070707) ;
    grid-template-areas: 
    "nada titu nada2"
    "nada notis nada2"
    "foot foot foot";



    .margen-1 {
        grid-area: nada;
    }

    .margen-2 {
        grid-area: nada2;
    }


    .titulares {
        grid-area: titu;
        color: white;
        font-family: 'Spartan', sans-serif;
        font-weight: 800;
        font-size: 55px;
        text-align: center;
        margin-top: 150px;
        height: 75px;
    }



    .cont-not-nos {
        grid-area: notis;
        display: grid;
        grid-template-columns:  1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "not1"
        "not2"
        "not3";


        .fno {
            width: 25vw;
            margin: 15px;
        }

        .not-1-nos {
            grid-area: not1;

            .textosNos {
                color: white;
                font-family: 'Spartan', sans-serif;
                font-weight: 200;
                font-size: 15px;
                text-align: justify;
            }

        

        }

        .not-2-nos {
            grid-area: not2;

            .textosNos {
                color: white;
                font-family: 'Spartan', sans-serif;
                font-weight: 200;
                font-size: 15px;
                text-align: justify;
            }

        }

        .not-3-nos {
            grid-area: not3;
         
            .textosNos {
                color: white;
                font-family: 'Spartan', sans-serif;
                font-weight: 200;
                font-size: 15px;
                text-align: justify;
            }
        }

    }












    
}